  @font-face {
    font-family: 'Merriweather-LightItalic';
    font-weight: lighter;
    font-style: italic;
    src: url('./Merriweather-LightItalic.ttf') format('truetype');
  }

@font-face {
  font-family: 'HelveticaNeue-Regular';
  font-weight: normal;
  src: url('./HelveticalNeue.ttf') format('truetype');
}